In [9]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
# from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
from tqdm import tqdm

In [10]:
driver = webdriver.Safari()

In [11]:
size = 10000
pages = (int)((size*1.1/50)+1) + 1
print("pages:",pages)

comments = pd.DataFrame(columns = ['Date','comments'])

pages: 222

In [12]:

for i in tqdm(range(1, pages)):
    driver.get('https://forums.edmunds.com/discussion/2864/general/x/entry-level-luxury-performance-sedans/p{}'.format(i))
    ids = driver.find_elements("xpath", "//*[contains(@id,'Comment_')]")
    comment_ids = []
    for x in ids:
        comment_ids.append(x.get_attribute('id'))

    for y in comment_ids:
        #Extract dates from for each user on a page
        comment_date = driver.find_element("xpath", '//*[@id="' + y +'"]/div/div[2]/div[2]/span[1]/a/time')
        date = comment_date.get_attribute('title')

        #Extract Message for each user on a page
        comment_message = driver.find_element("xpath", '//*[@id="' + y +'"]/div/div[3]/div/div[1]')
        comment = comment_message.text
                                   
        #Adding date, userid and comment for each user in a dataframe    
        comments.loc[len(comments)] = [date,comment]

100%|██████████| 221/221 [17:57<00:00,  4.88s/it]

In [13]:
comments.tail()

,Date,comments
11045,"September 22, 2010 2:47PM",\nThat's why I avoid buying the 1st year of a ...
11046,"September 22, 2010 4:36PM","\nAs I understand it, the issue isn't the alig..."
11047,"September 22, 2010 6:11PM",\nwell the software glitch is causing an align...
11048,"September 23, 2010 2:48AM","\nNot to worry, they'll get it right."
11049,"September 23, 2010 5:55AM",\nInfiniti just announced pricing for the G25....

In [14]:
comments.describe()

                          Date comments
count                    11050    11050
unique                   10876    11015
top     August 18, 2005 1:53PM       \n
freq                         4       12

In [15]:
comments.to_csv("edmunds_forum.csv")